<h2>
    <svg ng-show="Lists.length !== 0" ng-click="ClearTabel()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="774.266px" height="774.266px" viewBox="0 0 774.266 774.266" style="fill: rgb(0, 0, 0);" xml:space="preserve">
        <g style="fill: rgb(0, 0, 0);">
            <g style="fill: rgb(0, 0, 0);">
                <path d="M640.35,91.169H536.971V23.991C536.971,10.469,526.064,0,512.543,0c-1.312,0-2.187,0.438-2.614,0.875    C509.491,0.438,508.616,0,508.179,0H265.212h-1.74h-1.75c-13.521,0-23.99,10.469-23.99,23.991v67.179H133.916    c-29.667,0-52.783,23.116-52.783,52.783v38.387v47.981h45.803v491.6c0,29.668,22.679,52.346,52.346,52.346h415.703    c29.667,0,52.782-22.678,52.782-52.346v-491.6h45.366v-47.981v-38.387C693.133,114.286,670.008,91.169,640.35,91.169z     M285.713,47.981h202.84v43.188h-202.84V47.981z M599.349,721.922c0,3.061-1.312,4.363-4.364,4.363H179.282    c-3.052,0-4.364-1.303-4.364-4.363V230.32h424.431V721.922z M644.715,182.339H129.551v-38.387c0-3.053,1.312-4.802,4.364-4.802    H640.35c3.053,0,4.365,1.749,4.365,4.802V182.339z" style="fill: rgb(0, 0, 0);"></path>
                <rect x="475.031" y="286.593" width="48.418" height="396.942" style="fill: rgb(0, 0, 0);"></rect>
                <rect x="363.361" y="286.593" width="48.418" height="396.942" style="fill: rgb(0, 0, 0);"></rect>
                <rect x="251.69" y="286.593" width="48.418" height="396.942" style="fill: rgb(0, 0, 0);"></rect>
            </g>
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
        <g style="fill: rgb(0, 0, 0);">
        </g>
    </svg>
    Trash
</h2>
<ul>
    <li ng-repeat="item in Lists | filter:{doc:{deleted:true}}:true" ng-click="ShowNote(item);">
        <a href="">{{item.doc.body}}</a>
        <span class="remove_item" ng-click="RestoreNote(item);$event.stopPropagation();">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="fill: rgb(52, 240, 185);" xml:space="preserve">
                <g style="fill: rgb(52, 240, 185);">
                    <g style="fill: rgb(52, 240, 185);">
                        <path d="M384.834,180.699c-0.698,0-348.733,0-348.733,0l73.326-82.187c4.755-5.33,4.289-13.505-1.041-18.26    c-5.328-4.754-13.505-4.29-18.26,1.041l-82.582,92.56c-10.059,11.278-10.058,28.282,0.001,39.557l82.582,92.561    c2.556,2.865,6.097,4.323,9.654,4.323c3.064,0,6.139-1.083,8.606-3.282c5.33-4.755,5.795-12.93,1.041-18.26l-73.326-82.188    c0,0,348.034,0,348.733,0c55.858,0,101.3,45.444,101.3,101.3s-45.443,101.3-101.3,101.3h-61.58    c-7.143,0-12.933,5.791-12.933,12.933c0,7.142,5.79,12.933,12.933,12.933h61.58c70.12,0,127.166-57.046,127.166-127.166    C512,237.745,454.954,180.699,384.834,180.699z" style="fill: rgb(52, 240, 185);"></path>
                    </g>
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
                <g style="fill: rgb(52, 240, 185);">
                </g>
            </svg>
        </span>
    </li>
    <p ng-show="Lists.length == 0" class="empty">There's nothing to show</p>
</ul>
<div class="toolbar_bottom">
    <button ui-sref="tags">
        Tags
    </button>
    <button ui-sref="list">
        All Notes
    </button>
</div>